.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 300;
  background-color: #EBECF2;
}

.App-header {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
}

.App-header h2 {
  flex-grow: 1;
  text-align: left;
  padding-left: 30px;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.App-main {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
  margin-top: auto;
}

.App-footer {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
  margin-top: auto;
}
