.instructions {
  margin: 0 auto;
  
  width: 80%;
  text-align: center;
  font-size: 1rem;
  color: #000000;
    height: 80%;
    max-height: 500px;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.instructions h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}