:root {
  --bg-color: #2A475E;
  --fg-color: #1B2838;
}

body {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

.App-main {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: black;
  margin-top: auto;
}

.App-main-row {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.App-main-row > div:first-child {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.App-main-slider {
  max-width: 47vw;
}

.App-cardRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.card-rank-icon {
  width: 30px;
}

.chart-demo-image {
  width: 100%;
}