.App-main {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  background-color: #E7EBF0;
  color: black;
  margin: 0;
  margin-bottom: 15px;
}

.App-main-row {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.App-main-row > div:first-child {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.App-main-slider {
  max-width: 47vw;
}

.App-cardRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.card-rank-icon {
  width: 30px;
}

.chart-demo-image {
  width: 100%;
}

.App-NavBar {
  background-color: var(--header-fg-color) !important;
}

.App-NavBar button {
  margin-right: 15px;
  margin-left: 15px;
}

#poppy {
  display: none;
  background-color: lightslategray;
  position: absolute;
  border-radius: 15px;
  padding: 15px;
  max-width: 400px;
}

#poppy h3 {
  text-align: center;
}

#poppy p {
  font-size: 0.8em;
}

.chart-buttons-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}

#slider-value {
  display: block;
  border: 
  1px solid gray;
  padding: 5px;
  background-color: white;
}
