:root {
  --footer-padding: 15px;
}

footer {
  align-items: top;
  font-size: calc(5px + 2vmin);
  margin: 0;
  margin-top: 15px;
  padding: var(--footer-padding);
  padding-bottom: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

.footer-row {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.footer-row > div {
  padding: 15px;
  background-color: var(--bg-color) !important;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  color: var(--txt-color);
  font-size: 0.7em;
  margin-top: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid var(--dark-txt-color);
}

.footer-row > div p {
  padding: 0;
  margin: 0;
  color: var(--txt-color);
}

.footer-row > div ul > li {
  justify-content: center !important;
}

.footer-row > div:first-child a {
  color:aqua;
}

.footer-row > div a {
  color: var(--txt-color);
  font-size: 1em;
}

.footer-row hr {
  background-color: var(--dark-txt-color);
}

.footer-row svg text:hover {
  cursor: pointer;
}

.footer-row h5 {
  color: var(--txt-color);
}