:root {
    --header-bg-color: #E7EBF0;
    --header-fg-color: rgb(21, 31, 44);
}

header {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--header-fg-color);
}

.header-subtitle {
    color: rgb(211, 211, 211);
    animation-name: appear-right;
    animation-duration: 1s;
    animation-iteration-count: 1;
    padding-bottom: 2em;
}

.header-team-name {
    font-family: Connection, Arial, sans-serif;
    font-size: 1.5em;
    color: yellow;
    padding: 5px;
}

header > h1 {
    --shadow-size: 3px;
    --shawdow-color: whitesmoke;
    font-size: 9em !important;
    font-family: Connection, Arial, sans-serif !important;
    color: rgb(42, 71, 94);
    text-shadow: rgba(245, 245, 245, 1) 2px 2px, rgba(245, 245, 245, 1) -2px -2px;
    animation-name: appear-left;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.header-menu {
    display: block;
    text-align: center;
    animation-name: appear-down;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.header-menu li {
    display: block;
    text-align: center;
}

.header-menu button {
    --ss: 2px; /* shadow size */
    --sc: black; /* shadow color */
    font-size: 0.7em;
    color: var(--header-bg-color);
    text-shadow: 
        var(--sc) calc(var(--ss)) calc(var(--ss)),
        var(--sc) calc(-1 * var(--ss)) calc(var(--ss)),
        var(--sc) calc(var(--ss)) calc(-1 * var(--ss)),
        var(--sc) calc(-1 * var(--ss)) calc(-1 * var(--ss));
}

.header-menu button:hover {
    --ss: 1px; /* shadow size */
    --sc: lightgray; /* shadow color */
    text-shadow: 
        var(--sc) calc(var(--ss)) calc(var(--ss)),
        var(--sc) calc(-1 * var(--ss)) calc(var(--ss)),
        var(--sc) calc(var(--ss)) calc(-1 * var(--ss)),
        var(--sc) calc(-1 * var(--ss)) calc(-1 * var(--ss));
    background-color: var(--header-fg-color);
}