header {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.header-subtitle {
    color: var(--txt-color);
    animation-name: appear-right;
    animation-duration: 1s;
    animation-iteration-count: 1;
    padding-bottom: 2em;
}

.header-team-name {
    font-family: Connection, Arial, sans-serif;
    font-size: 1.5em;
    color: yellow;
    padding: 5px;
}

header > h1 {
    --shadow-size: 3px;
    --shawdow-color: var(--txt-color);
    font-size: 9em !important;
    font-family: Connection, Arial, sans-serif !important;
    color: var(--fg-color);
    text-shadow: var(--txt-color) 2px 2px, var(--txt-color) -2px -2px;
    animation-name: appear-left;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.header-menu {
    display: block;
    text-align: center;
    animation-name: appear-down;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.header-menu li {
    display: block;
    text-align: center;
}

.header-menu button {
    --ss: 2px; /* shadow size */
    --sc: rgba(0,0,0,0.5); /* shadow color */
    font-size: 0.7em;
    color: var(--fg-color);
    text-shadow: 
        var(--sc) calc(var(--ss)) calc(var(--ss)),
        var(--sc) calc(-1 * var(--ss)) calc(var(--ss)),
        var(--sc) calc(var(--ss)) calc(-1 * var(--ss)),
        var(--sc) calc(-1 * var(--ss)) calc(-1 * var(--ss));
}

.header-menu button:hover {
    --ss: 1px; /* shadow size */
    --sc: var(--txt-color); /* shadow color */
    text-shadow: 
        var(--sc) calc(var(--ss)) calc(var(--ss)),
        var(--sc) calc(-1 * var(--ss)) calc(var(--ss)),
        var(--sc) calc(var(--ss)) calc(-1 * var(--ss)),
        var(--sc) calc(-1 * var(--ss)) calc(-1 * var(--ss));
    background-color: var(--bg-color);
}