.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 300;
  background-color: #EBECF2;
}

.App-header {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
}

.App-header h2 {
  flex-grow: 1;
  text-align: left;
  padding-left: 3vw;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.App-main {
  min-height: 80vh;
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: black;
  margin-top: auto;
}

.App-main-row {
  display: flex;
  padding-bottom: 2vw;
  flex-direction: row;
}

.App-main-slider {
  max-width: 47vw;
}

.App-cardRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 16vh;
  margin-bottom: 4vh;
}
